<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="Dashboard">
        <h1>Server Dashboard</h1>

        <div class="dashboard-grid">
            <div class="card">
                <h2>CPU Usage</h2>
                <div class="circle-progress" id="cpu-circle" style="--progress: 0deg;">
                    <span class="circle-text" id="cpu-value">0%</span>
                </div>
            </div>

            <div class="card">
                <h2>CPU Temperature</h2>
                <div class="circle-progress" id="tmp-circle" style="--progress: 0deg;">
                    <span class="circle-text" id="tmp-value">0%</span>
                </div>
            </div>

            <div class="card">
                <h2>Memory Usage</h2>
                <div class="circle-progress" id="mem-circle" style="--progress: 0deg;">
                    <span class="circle-text" id="mem-value">0%</span>
                </div>
            </div>

            <div class="card">
                <h2>Disk Usage</h2>
                <div class="circle-progress" id="sto-circle" style="--progress: 0deg;">
                    <span class="circle-text" id="sto-value">0%</span>
                </div>
            </div>     
        </div>

        <div class="dashboard-grid">
            <div class="card">
                <h2>Bytes Sent</h2>
                <p id="bst-value" class="data-text">Loading...</p>
            </div>

            <div class="card">
                <h2>Bytes Received</h2>
                <p id="brv-value" class="data-text">Loading...</p>
            </div>

            <div class="card">
                <h2>Uptime</h2>
                <p id="upt-value" class="data-text">Loading...</p>
            </div>   
        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>